
bin
obj
.vs/DocSystem/v15/.suo
.vs/DocSystem/v15/.suo
*.ide
DocSystem/obj/project.assets.json
DocSystem/obj/DocSystem.csproj.nuget.cache
DocSystem/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_ValidationScriptsPartial.g.cshtml.cs
DocSystem/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_Layout.g.cshtml.cs
DocSystem/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_CookieConsentPartial.g.cshtml.cs
DocSystem/obj/Debug/netcoreapp2.1/DocSystem.Views.dll
DocSystem/obj/Debug/netcoreapp2.1/DocSystem.pdb
DocSystem/obj/Debug/netcoreapp2.1/DocSystem.dll
DocSystem/obj/Debug/netcoreapp2.1/DocSystem.csprojAssemblyReference.cache
DocSystem/obj/Debug/netcoreapp2.1/DocSystem.csproj.FileListAbsolute.txt
DocSystem/obj/Debug/netcoreapp2.1/DocSystem.csproj.CoreCompileInputs.cache
DocSystem/obj/Debug/netcoreapp2.1/DocSystem.assets.cache
DocSystem/obj/Debug/netcoreapp2.0/DocSystem.assets.cache
DocSystem/bin/Debug/netcoreapp2.1/DocSystem.Views.dll
DocSystem/bin/Debug/netcoreapp2.1/DocSystem.pdb
DocSystem/bin/Debug/netcoreapp2.1/DocSystem.dll
DocSystem/bin/Debug/netcoreapp2.1/DocSystem.deps.json
.vs/DocSystem/v15/Server/sqlite3/storage.ide-wal
.vs/DocSystem/v15/Server/sqlite3/storage.ide-shm
.vs/DocSystem/v15/Server/sqlite3/storage.ide
.vs/DocSystem/v15/.suo
