
@{
    ViewData["Title"] = "Description";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("PatientInfo", ViewData["data"])
@Html.Partial("VisitInfo", ViewData["data"])

<h1>Description</h1>
<textarea rows="10" class="form-control">
</textarea>
</br>
<button class="btn btn-primary">Save</button>
