@model DocSystem.Models.Visit

@{
    ViewData["Title"] = "DoctorVisit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Add new Visit</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DoctorVisit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <br />
            <div>

                <input type="radio" name="Type" value="visit" checked/>Visit <br>
                <input type="radio" name="Type" value="referral" />Referral  <br>
                <input type="radio" name="Type" value="test" />Test
                <br><br>
            </div>


            <div class="form-group">
                <label asp-for="Doctor" class="control-label"></label>
                <input asp-for="Doctor" class="form-control" />
                <span asp-validation-for="Doctor" class="text-danger"></span>
            </div>

            <br />
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>



