@model DocSystem.Models.Prescription

@{
    ViewData["Title"] = "DoctorPrescription";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("PatientInfo", ViewData["patient"])


<h2>Add Prescription</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DoctorPrescription">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Medicine" class="control-label"></label>
                <input asp-for="Medicine" class="form-control" />
                <span asp-validation-for="Medicine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <h4>Refund</h4>

            <div>      
                   <input type="radio" name="Refund" value="yes" checked/>yes
                    <input type="radio" name="Refund" value="no" />no
           </div>
       
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


