@model DocSystem.Models.Visit

@{
    ViewData["Title"] = "DoctorVisit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Add new Visit</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DoctorVisit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                @Html.DropDownList("Typ",
                         new SelectList(Enum.GetValues(typeof(Choose))),
                         "Select type",
                         new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label asp-for="Doctor" class="control-label"></label>
                    <input asp-for="Doctor" class="form-control" />
                    <span asp-validation-for="Doctor" class="text-danger"></span>
                </div>



                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

