@model DocSystem.Models.Visit

@{
    ViewData["Title"] = "DoctorVisit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Add new Visit</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DoctorVisit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <br />
            <div>

                <input type="radio" name="Type" value="wizyta" />wizyta
                <input type="radio" name="Type" value="skierowanie" />skierowanie
            </div>


            <div class="form-group">
                <label asp-for="Doctor" class="control-label"></label>
                <input asp-for="Doctor" class="form-control" />
                <span asp-validation-for="Doctor" class="text-danger"></span>
            </div>

            <br />
            <ul>
                <li>Barbara Poranek- ginekolog</li>
                <li>  Katarzyna Len- gastrolog</li>
                <li>  Jakub Bora- internista</li>
            </ul>
            <br />


            <div>

                <input type="radio" name="Status" value="wykonano" style="display:none" />
                <input type="radio" name="Status" value="niewykonano" checked="checked" />niewykonano
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>



