@model IEnumerable<DocSystem.Models.MedicalDescription>

@{
    ViewData["Title"] = "Medical Descriptions";
}

<h2>Medical Descriptions</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Type
            </th>
            <th>
                Description
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
    </tbody>
</table>
