
@{
    ViewData["Title"] = "PatientView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@Html.Partial("PatientName", ViewData["PatientName"])
<br />


@Html.Partial("VisitList", ViewData["visitData"])
<br />

@Html.Partial("PrescriptionList", ViewData["Medicaments"])
<br />

<h2>Tests</h2>

@Html.Partial("PatientTests", ViewData["Tests"])



