
@{
    ViewBag.Title = "PatientView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Patient</h2>
<ul class="list-group">
    <li class="list-group-item">Name</li>
    <li class="list-group-item">Surname</li>
    <li class="list-group-item">Address</li>
    <li class="list-group-item">Pesel</li>
</ul>


<style>
    table, th, td {
        border: 0.5px solid black;
          border-collapse: collapse;
    }
</style>


<h2>Visits</h2>
<table style="width:100%">
    <tr>
        <th>Doctor</th>
        <th>Type</th>
        <th>Status</th>
        <th>Date</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

<h2>Medicaments</h2>
<table style="width:100%">
    <tr>
        <th>Medicine</th>
        <th>Description</th>
        <th>Date</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

<h2>Tests</h2>
<table style="width:100%">
    <tr>
        <th>Type</th>
        <th>Value</th>
        <th>Description</th>
        <th>Date</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

