@model IEnumerable<DocSystem.Models.Visit>

@{
    ViewData["Title"] = "Visits";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Visits</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Type
            </th>
            <th>
                Doctor
            </th>
            <th>
                Status
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
    </tbody>
</table>
